[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RViennaCL"]
	path = RViennaCL
	url = https://github.com/cdeterman/rviennacl
	shallow = true
	registered = true
