[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RViennaCL"]
	path = RViennaCL
	url = https://github.com/cdeterman/rviennacl
[submodule "gpuR"]
	path = gpuR
	url = https://github.com/cdeterman/gpur
